* {
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
  text-align: center;
}

  form {
    height: 10rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    line-height: 1.5rem;
    background-color: beige;
  }

  button{
    width: 60%;
    margin: auto;
    background-color: antiquewhite;
  }
  